body{
    height: 100vh;
    width: 100vw;
    background: url(https://github.com/Chensokheng/island/blob/master/public/assets/bg.jpg?raw=true) no-repeat center center fixed ;
    background-size: cover;
}

.title{
    position: absolute;
    top: 50%;
    left:50%;
    right: 50%;
    /* height: 100vh;
    width: 100vw; */
    color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center;
    align-items: center; */
}